.scope__ChartColorsDisplay {
  margin-top: 20px;

  .chart-color {
    height: 25px;
    width: 25px;
    border-radius: 4px;
  }

  .chart-colors-text {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
