.scope__EmailInput {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .email {
    background-color: #F0F0F0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 12px;

    &__delete {
      margin-left: 10px;
      color: #4c4c4c;
    }
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.25);

    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }

    &:active {
      color: rgba(0, 0, 0, 0.75);
    }

    &:focus {
      outline: none;
    }
  }

  input {
    margin-right: 10px;
    width: 300px;
  }

  .invalid-email-warning {
    font-size: 12px;
    opacity: 0;
    margin: 3px 0 0 3px;
    color: #E20338;

    &--displayed {
      opacity: 1;
    }
  }
}
