@import './colors/base-colors';

$infographics-width-fixed: 500px;

.scope__Canvas {
  width: 100%;

  .infographics {
    margin: 30px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 $surface-dark;
    border: 1px solid #d1d1d1;

    &--empty {
      border: none;
    }
  }

  .canvas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
