@import './colors/base-colors';
@import './colors/button-colors';

.scope__Editor {
  width: 20%;

  .editor {
    height: 100vh;
    justify-content: center;
    color: #fff;
    background-color: $primary-medium;
  }

  .button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: $editor-button;
    outline: none;
    font-size: 1em;

    &:enabled {
      color: #fff;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      background-color: $editor-button-active;
    }
  }
}