@import "./colors/base-colors";
@import "./colors/button-colors";

.editor {
  height: 100vh;
  width: 20%;
  justify-content: center;
  color: #fff;
  background-color: $primary-medium;
}

.button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: $editor-button;
  outline: none;
  font-size: 1em;
}

.button:enabled {
  color: #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: $editor-button-active;
}

.fa-plus {
  color: #00B4BD;
}

.fa-plus::after {
  content: " ";
}