.header {
  display: flex;
  background-color: #BCC0D1;
  
  &__user {
    display: flex;
    width: 20%;
  }

  &__user-photo-wrapper {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 7px;
  }

  &__user-photo {
    width: auto;
    height: 100%;
    margin-left: -10px;
  }

  &__user-name {
    align-self: center;
  }
}