.scope__InfographicsSection {
  .infographics__infographics-section {
    height: 150px;
    width: 300px;
    border: 1px solid #000000;

    &--active {
      border: 1px dashed #000000;
    }
  }

  .infographics__delete-infographics {
    float: right;
    margin: 5px;
    cursor: default;
    color: rgba(0, 0, 0, 0.5);

      &:hover {
        color: #000;
      }

      &:active {
        color: #000;
        margin-top: 4px;
      }
  }
}