@import './Canvas';
@import './colors/base-colors';

.scope__InfographicsSection {
  .infographics__infographics-section {
    height: $infographics-height-fixed;
    border: 1px solid $surface-dark;

    &--active {
      border: 1px dashed #d7d7d7;
    }
  }

  .infographics__delete-infographics {
    float: right;
    margin: 5px;
    cursor: default;
    color: rgba(0, 0, 0, 0.5);

      &:hover {
        color: #000;
      }

      &:active {
        color: #000;
        margin-top: 4px;
      }
  }
}
