@import './colors/base-colors';

.scope__SizeForm {
  position: absolute;
  padding: 10px;
  margin-left: 85px;
  margin-top: -33px;
  background-color: #4c4c4c;
  background-image: radial-gradient(circle, #787878, #6d6d6d, #626262, #575757, #4c4c4c);
  box-shadow: 0 0 10px 0 #787878;
  border-radius: 10px;
  font-size: 14px;
  opacity: 0.8;
  display: flex;

  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 190px;
    border-top: 5px solid transparent;
    border-right: 10px solid #4c4c4c;
    border-bottom: 5px solid transparent;
  }

  label {
    vertical-align: middle;
  }

  input {
    width: 50px;
    border-radius: 5px;
    padding: 4px;
    border: none;
    margin-left: 5px;
    margin-right: 10px;

    &:disabled {
      opacity: 0.6;
    }

    &:focus {
      outline: none;
    }
  }
}
