@import '../colors/base-colors';

.scope__PageNotFoundScreen {
  .page-not-found {
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 24px;

    .illustration {
      margin: 50px 0 20px 0;
      width: 500px;
      height: 300px;
      background-image: url('../../svg/undraw_page_not_found_su7k.svg');
      background-repeat: no-repeat;
    }

    .home {
      margin-top: 20px;
      display: block;
      font-size: 14px;
      text-decoration: none;
      color: $button-hot-pink;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: $button-hot-pink-dark;
      }
    }
  }
}
