.scope__ChartTypePicker {
  width: 160px;
  margin: 5px;

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    color: #fff;
  }

  li {
    margin: 10px;
    text-align: center;
    cursor: default;
    transition: transform 0.13s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      opacity: 0.75;
    }
  }

  i {
    font-size: 3em;
    margin-bottom: 10px;
  }
}
