$surface-light: #fff;
$surface-dark: #f5f5f5;

$primary: #42a5f5;
$primary-dark: #0d47a1;
$primary-semidark: #1565c0;
$primary-medium: #1976d2;
$primary-light: #90caf9;

$secondary: #ec407a;
$secondary-dark: #880e4f;
$secondary-light: #f48fb1;
