$surface-light: #fff;
$surface-dark: #f5f5f5;

$header-background-color: #211844;
$light-purple: #6c2b5c;
$purple-gradient-to-right: linear-gradient(to right, #211844, #341d4c, #472152, #5a2658, #6c2b5c);
$purple-gradient-to-bottom: linear-gradient(to bottom, #6c2b5c, #5a2658, #472152, #341d4c, #211844);
$purple-gradient-to-top: linear-gradient(to top, #6c2b5c, #5a2658, #472152, #341d4c, #211844);

$button-hot-pink: #FD0079;
$button-hot-pink-dark: #e4006d;
$button-green: #00C8A1;
