$gray-tones-secondary: #B9B9B9;
$sand-secondary: #5D93BA;
$night-sky-secondary: #4dd599;
$honey-secondary: #FFC753;
$business-secondary: #2F3640;

$gray-tones-ternary: #9e9e9e;
$sand-ternary: #d3afaf;
$night-sky-ternary: #ffdc34;
$honey-ternary: #AE3F7B;
$business-ternary: #BC0022;
